<body class="bg-gray-200 p-3">

    <nav class="flex items-center gap-1 px-3 h-12 bg-white rounded-xl">

        <button
            class="flex justify-center items-center w-8 h-8 rounded-full text-[#c9d1d9] hover:bg-white/10 hover:text-white transition-colors">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" class="w-5 h-5">
        </button>

        <!-- Divider -->
        <div class="w-px h-5 bg-gray-400 mx-1"></div>

        <!-- Home button -->
        <div class="flex items-center gap-1 px-3 py-1.5 text-sm font-medium text-[#6E7C87]">

            <a href="/" class="text-[#6E7C87] px-1 py-1 mx-1 rounded font-semibold">Home</a>

            <select class="select flex items-center gap-1 px-3 py-1.5 text-sm font-medium text-[#6E7C87]"
                name="projects" id="projects">
                <option class="text-[#6E7C87]">Services</option>
                <option class="text-[#6E7C87]">Consulting</option>
                <option class="text-[#6E7C87]">Projects</option>
            </select>

            <select class="select flex items-center gap-1 px-3 py-1.5 text-sm font-medium text-[#6E7C87]"
                name="projects" id="projects">
                <option class="text-[#6E7C87]">Products</option>
                <option class="text-[#6E7C87]">Product 1</option>
                <option class="text-[#6E7C87]">Product 2</option>
            </select>
        </div>
        <!-- Spacer -->
        <div class="flex-1"></div>

        <input type="text" placeholder="Search..."
            class="flex items-center mx-10 gap-1 px-3 py-1.5 w-40 text-sm font-medium text-gray/10 bg-white border border-gray-300 rounded-full focus:outline-none focus:ring-1 focus:ring-gray-400 transition-all duration-200">


        <!-- Notification -->
        <button class="flex items-center justify-center w-8 h-8 rounded-full text-[#c9d1d9]">
            <img src="public\assets\images\notification.gif" alt="Notification Icon" class="w-5 h-5">
        </button>

        <a href="/login"
            class="flex items-center gap-2 px-3 py-1.5 rounded-full text-sm font-semibold text-white bg-blue-600">Login</a>

    </nav>

</body>